# Numerous always-ignore extensions
*.py[oc]
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.class
*.iml

# OS or Editor folders
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.idea
bin
gen
out
/build
/captures
.externalNativeBuild
